<.header>
  Product <%= @product.id %>
  <:subtitle>This is a product record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/products/#{@product}/edit"}>
      <.button>Edit product</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @product.title %></:item>
</.list>

<.back navigate={~p"/products"}>Back to products</.back>
